@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sk-Modernist";
  src: url(../fonts/Sk-Modernist-Regular.otf);
}

html,
body {
  background-color: #f0f2f4;

  font-family: "Sk-Modernist";
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 150%;
  font-size: 16px;
}

.rangeslider {
  margin: 0;
  background: #d1d1d1;
  height: 6px;
  border-radius: 0;

  .rangeslider__fill {
    background-color: black;
    border-radius: 0;
  }

  .rangeslider__handle {
    width: 10px;
    height: 10px;
    background: #000;
    border: 0;

    &:after {
      content: unset !important;
    }
  }
}

.zoom-slider {
  .rangeslider {
    .rangeslider__fill {
      background-color: #d1d1d1;
    }

    .rangeslider__handle {
      width: 12px;
      height: 12px;
    }
  }
}

.modebar-container {
  .modebar {
    display: flex;

    .modebar-group {
      display: flex;
    }
  }
}

$secondary: rgba(0, 0, 0, 0.54);
$tab-active-color: white;

.nav-tabs {
  border-bottom: none;

  .nav-item {
    button {
      padding: 4px 12px;
    }
  }

  .nav-link {
    color: $secondary;
    background-color: rgba(240,240,240, 1);
    border-radius: 0;
    border: none;
    font-size: 0.875rem;
    font-weight: 500;

    &:hover {
      background-color: rgba(220,220,220, 1);
    }
  }

  .nav-item.show .nav-link,
  .nav-link.active {
    color: black;

    &:hover {
      background-color: rgba(200,200,200, 1);
    }
  }
}

table {
  .time-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.0125em;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  .time-first {
    text-align: center;
    vertical-align: top;
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  .time-second {
    align-self: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
  }

  .time-third {
    align-self: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    color: white;
    width: 50%;
  }
}

.custom-select {
  min-width: 50px;
  color: rgba(0, 0, 0, 0.87);
  border: 0;
  padding: 0.25rem 2rem 0.25rem 0.5rem; 
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);

  &:focus {
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  }

  &:focus-visible {
    outline-width: 0;
  }
}

.custom-input {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);

  &:focus-visible {
    outline-width: 0;
  }
}

input[type=checkbox] {
  &:focus {
    --tw-ring-shadow: none;
    box-shadow: none;
  }
}

.custom-checkbox {
  color: black;

  &:checked {
    background-color: black;
    background-image: none;
  }
}

.custom-checkbox-alert {
  color: rgb(74, 80, 96);
}
